/*html,body{
	width:100%;
}*/
header{
	width:100%;	
	height:5rem;
}
.header{
	width:100%;
	height:5rem;
	background:deeppink;
	position:fixed;
	top:0px;
	z-index:9;
	display:flex;
}
.no1{
	width:20%;
	height:5rem;
	margin-top:0rem;
	margin-left:0rem;
}
.no1 .prev{
	width:2rem;
	height:2rem;
	color:white;
	font-size:1.6rem;
	margin-top:1.5rem;
	margin-left:1rem;
}
.no2{
	width:40%;
	height: 5rem;
	line-height:5rem;
	color:white;
	font-size:1.6rem;
	margin-top:0rem;
	margin-left:0rem;
	text-align:center;
}
.no3{
	width:20%;
	height: 5rem;
	color:white;
	font-size:1.6rem;
	margin-top:0rem;
	margin-left:0rem;
}
.no3 .shopping{
	width:2rem;
	height:2rem;
	margin-top:1.5rem;
	margin-left:3.5rem;
}
.no4{
	width:20%;
	height: 5rem;
	color:white;
	font-size:3rem;
	padding-top:0.5rem;
	padding-left:4rem;
}
.no4 .list-two{
	width:13rem;
	height:20rem;
	background:#fcf9f9;*/
	margin-top:2.5rem;
	margin-left:-8.4rem;
	display:none;
}
.no4 .list-two li{
	font-size:1.8rem;
	color:#5f5f5f;
	height:4.46rem;
	line-height:4.46rem;
	margin-top:0.7rem;
	text-align: center;
	border-bottom:0.2rem solid #e9e9e9;
	z-index: 99;
}
.no4 .list-two li .first{
	color:#5f5f5f;
	font-size:1.8rem;
}
/*=====================头部========================*/
section{
	height:
}
.good{
	width:100%;
	height:50rem;	
}
.goods-img{
	position:absolute;
	height:30rem;
	background-size:100% 100%;
	margin-top:0rem;
}
.des{
	font-size:1.6rem;
	height:5rem;
	position:absolute;
	top:37rem;
}
.name{
	height:25rem;
	font-size:1.6rem;
	position:absolute;
	margin-top:38rem;
}
.price{
	font-size:2.4rem;
	color:orangered;
	height:5rem;
	position:absolute;
	top:47rem;
}
.commend{
	font-size:1.3rem;
	color:orangered;
	border:1px solid red;
	width:6rem;
	height:2rem;
	position:absolute;
	top:0.5rem;
	left:17.5rem;
	text-align:center;
}
.three{
	width:100%;
	height:5rem;
	margin-top:-2rem;
	display:flex;
}
.mail{
	width:30%;
	font-size:1.3rem;
}
.month{
	width:30%;
	font-size:1.3rem;
}
.address{
	width:40%;
	font-size:1.3rem;
}
/*==============中部=====================*/
footer{
	width:100%;
	position:relative;
	
}
.footer{
	width:100%;
	height:5rem;
	position:fixed;
	bottom:0px;
	/*background:purple;*/
	display:flex;
}
.passage{
	width:20%;
	line-height:5rem;
	font-size:1.8rem;
	margin-left:0rem;
	margin-top:0rem;
	background:whitesmoke;
	color:black;
	text-align:center;
}
.cart{
	width:20%;
	line-height:5rem;
	font-size:1.8rem;
	margin-left:0rem;
	margin-top:0rem;
	background:whitesmoke;
	color:black;
	text-align:center;
}
.addTo{
	width:30%;
	line-height:5rem;
	font-size:1.8rem;
	margin-left:0rem;
	margin-top:0rem;
	background:orange;
	text-align:center;
	position:relative;
}
.buy{
	/*float:left;*/
	position:absolute;
	top:0rem;
	left:24.1rem;
	font-size:1.8rem;
	background:red;
	width:30%;
	line-height:5rem;
	font-size:1.8rem;
	margin-left:0rem;
	margin-top:0rem;
	background:orangered;
	color:white;
	text-align:center;
	/*position:relative;*/
}
.no-buy{
	width:100%;
	height:14rem;
	background:#ddd9d9;
	position:absolute;
	bottom:4.9rem;
	left:0rem;
	color:black;
	display:none;
}
.empty{
	width:10.4rem;
	height:5rem;
	background:lightgray;
	position:absolute;
	top:-5rem;
	left:0rem;
	display:none;
}
.adds{
	width:10.4rem;
	height:5rem;
	background:lightgray;
	position:absolute;
	top:-5rem;
	left:0rem;
	display:none;
}
.close{
	float:left;
	font-size:3rem;
	width:4rem;
	height:2rem;
	line-height:2rem;
	margin-left:26rem;
	margin-top:0rem;
}








